<!DOCTYPE html>
<html>
<body style="background-color:yellow; border: 24px solid purple;">
<img
src="https://media0.giphy.com/media/xfw0vTGJzWok8/giphy.gif"height=300></img>
<img
src="https://media2.giphy.com/media/l41Yhxp18gnTtcRVe/source.gif"height=300></img>
<img
src="https://media.giphy.com/media/3o6Zt1tHO4h4S38vjW/giphy.gif"height=300></img>
<img
src="https://media2.giphy.com/media/QlRl2YrO7gI3C/source.gif"height=300></img>
<br><a style="font-family:verdana;color:purple;" href = "home.html">CLICK HERE TO GO BACK TO HOME PAGE</a> 
</body>
</html>